<ng-container *ngIf="votes">
  <div *ngIf="votes.length" class="vote-container">
    <h1 class="vote-title">Dzisiejsze głosy</h1>
    <div class="vote-entry" *ngFor="let vote of votes; let i = index">
      <h2 class="timestamp">{{vote.timestamp | date:"HH:mm"}}</h2>
      <h3 class="vote">{{vote | vote}}</h3>
    </div>
  </div>
  <div *ngIf="!votes.length" class="vote-container">
    <h1 class="no-votes">Nikt nie zabrał jeszcze dzisiaj głosu...</h1>
  </div>
</ng-container>