  .vote-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
  }

  .vote-entry{
    display: flex;
    flex-direction: row;
  }

  .vote-entry .timestamp{
    min-width: 100px;
  }

  .no-votes{
    text-align: center;
  }

  .vote-title{
    width: fit-content;
    margin-bottom: 25px;
    background-image: url(../../assets/underline.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 7px;
  }