<div *ngIf="login.signedIn">
  <div class="decision-container">
    <h1 class="decision-title">Wyrocznia mówi</h1>
    <div *ngIf="user">
      <h3 *ngIf="!votes.length" class="decision">Żaden śmiałek nie zabrał dzisiaj głosu. Zabierz głos {{user?.givenName
        || Nieznajomy}}.</h3>
      <h3 *ngIf="votes.length == 1">Twój głos jest osamotniony. Zaczekaj aż ktoś zagłosuje.</h3>
      <h3 *ngIf="votes.length > 1 && !matches.length">Nie mam dla Ciebie propozycji. Rozważ zmianę swojego głosu lub
        poczekaj.</h3>
      <div *ngFor="let match of matches; let i = index">
        <h3 class="decision">{{match | suggestion}}.</h3>
      </div>
    </div>
  </div>

  <div class="menu-container">
    <mat-card class="mat-elevation-z24" color="info" routerLink="/new"><span>Zabieram głos!</span></mat-card>
  </div>
</div>