mat-card {
  width: 25%;
  height: 25%;
  background: rgb(63, 81, 181);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}

mat-card span {
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-family: "Kalam", cursive;
}

mat-card:hover {
  background-color: rgba(63, 81, 181, 0.8);
  cursor: pointer;
}

.menu-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.decision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.decision-container > .decision-title {
  padding-top: 50px;
  margin-bottom: 30px;
  background-image: url(../../assets/underline.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 7px;
}