.restaurants {
  display: flex;
}

.new-lunch-container {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.restaurant-selections {
  width: 50%;
}

.time-ranges {
  width: 50%;
}

.restaurant-selection {
  height: 200px;
  display: flex;
  flex-flow: column wrap;
}

::ng-deep .bs-chevron {
  width: 20px !important;
  height: 20px !important;
  color: #a0a0a0 !important;
}

.time-selection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.time-selection span {
  margin: 0 10px;
}

mat-checkbox {
  margin: 10px;
}

mat-slider {
  min-height: 400px;
}

mat-slider .mat-slider-vertical .mat-slider-track-background,
mat-slider .mat-slider-vertical .mat-slider-track-fill {
  width: 20px;
}

mat-chip-list {
  display: flex;
}

mat-chip {
  cursor: pointer;
  padding: 0 10px;
}

mat-chip:hover {
  background-color: rgba(63, 81, 181, 0.8);
}

mat-card {
  background: rgb(63, 81, 181);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  height: 40px;
}

mat-card span {
  font-size: 1em;
  color: white;
  font-family: "Kalam", cursive;
}

mat-card:hover:not(.disabled) {
  background-color: rgba(63, 81, 181, 0.8);
  cursor: pointer;
}

.or {
  text-align: center;
}

.date-range-text {
  font-size: 26px;
}

.time-selection > * {
  margin: 10px;
}

.footer mat-card {
  width: 50%;
  left: 25%;
  font-size: 26px;
  height: 80px;
}

.disabled{
  background-color: gray;
}
