<div class="new-lunch-container">
  <div class="restaurant-selections">
    <h2>Interesuje mnie</h2>
    <div class="restaurant-selection">
      <section *ngFor="let restaurant of openRestaurants; let in=index" class="restaurants">
        <mat-checkbox color="primary" [(ngModel)]="openRestaurants[in].selected" (ngModelChange)="onChange()">{{restaurant.name}}</mat-checkbox>
        <mat-chip-list *ngIf="restaurant.menu">
          <mat-chip (click)="onNavigate(restaurant.menu)">menu</mat-chip>
        </mat-chip-list>
      </section>
    </div>
  </div>

  <div class="time-ranges">
    <h2>W godzinach</h2>
    <div class="time-selection">
      <div class="date-range-text">Od</div>
      <timepicker [showMeridian]="false" [(ngModel)]="timeRange.from" (ngModelChange)="onChange()"></timepicker>
      <div class="date-range-text">Do</div>
      <timepicker [showMeridian]="false" [(ngModel)]="timeRange.to" (ngModelChange)="onChange()"></timepicker>
    </div>
  </div>

</div>
<div class="footer">
  <div class="submit-container">
    <mat-card [class.disabled]="submitDisabled" (click)="submit()"><span>Gotowe</span></mat-card>
  </div>
</div>