<div *ngIf="login.signedIn">
  <mat-toolbar class="mat-elevation-z7" color="primary">
    <span class="title" routerLink="/">{{title | uppercase}}</span>
    <span class="spacer"></span>
    <div class="menu-item" [routerLink]="item.link" *ngFor="let item of menuItems">{{item.name}}</div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>