.spacer {
  flex: 1 1 auto;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}

.menu-item:hover {
  background-color: rgba(83, 101, 201, 0.5) !important;
  cursor: pointer;
}

span,
div {
  outline: none;
}

.title {
  cursor: pointer;
}

.title:hover {
  font-weight: bold;
}
